[submodule "ktest"]
	path = ktest
	url = https://github.com/jullanggit/ktest.git
[submodule "bcachefs"]
	path = bcachefs
	url = https://github.com/jullanggit/bcachefs.git
[submodule "bcachefs-tools"]
	path = bcachefs-tools
	url = https://github.com/jullanggit/bcachefs-tools.git
